n8n-workflow/chatbot/botapin8n.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n    \"result\": \"{{ $json.result }}\",\n    \"success\": \"{{ $json.success }}\"\n}\n",
        "options": {}
      },
      "id": "bbd583f5-4f19-44f4-a45c-4585f57f4db5",
      "name": "Respond to Webhook3",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        460,
        460
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "0caab1e0-e99e-42bd-8422-86e44d1cecd6",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -40,
        480
      ],
      "id": "8ff05e81-bb28-4b4a-83d4-b98f8421a4c7",
      "name": "Webhook3",
      "webhookId": "0caab1e0-e99e-42bd-8422-86e44d1cecd6"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:5000/process",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n    \"message\": \"{{ $json.body.message }}\",\n    \"role\": \"{{ $json.body.role }}\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        160,
        480
      ],
      "id": "bb6ab178-0626-4d1e-9a26-ea7f6fcf5114",
      "name": "HTTP Request2"
    },
    {
      "parameters": {},
      "id": "805388c0-20e4-4a5d-97ae-d17c83b52ee8",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        920,
        800
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "da24ba7f-88f0-4d61-92b4-2efa9ab7b751",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1120,
        600
      ]
    },
    {
      "parameters": {
        "path": "register-provider-v-relief-2024",
        "options": {}
      },
      "id": "23a1cf54-e627-4da9-8ef5-0590b8d278ec",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        520,
        400
      ],
      "webhookId": "573e3419-c0d2-43c8-9391-0154c82b0785"
    },
    {
      "parameters": {
        "path": "register-volunteer-v-relief-2024",
        "options": {}
      },
      "id": "b6c1ea29-94c1-4a0f-b1a9-266784c9b48e",
      "name": "Webhook1",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        520,
        580
      ],
      "webhookId": "9274a797-c88c-438b-9b93-e666a7fe0ac0"
    },
    {
      "parameters": {
        "path": "register-receiver-v-relief-2024",
        "options": {}
      },
      "id": "1d4cc06f-4da2-45f6-a1f0-9a7f064feb3f",
      "name": "Webhook2",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        520,
        760
      ],
      "webhookId": "aa7bf6e0-8314-41a0-a767-f024d1b1b15c"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "id": "6609c7d4-aed4-4d04-94d9-d580e1d980c8",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1920,
        420
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "faa9dc72-f6ba-4b37-b9d5-fa4b626185e7",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "8ffdb967-7348-4ed5-842b-0e82fbab8498",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "5a4145c7-e1e6-4987-9fc3-170b91d5d6dd",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "bee668b3-25c8-488f-a5b5-17626372d4fd",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "342f491c-3bb0-4100-bec0-ea01a0293ba8",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "d7dc7586-1364-42b5-9b90-7aebbed93533",
      "name": "Filter",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        1340,
        600
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "38655919-1bba-4b47-b1ff-11b2bd35afe4",
                    "leftValue": "",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c42afbf9-5b46-4de8-a5f1-30930f3c9a12",
                    "leftValue": "",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "b9e4aad5-3333-427a-9b0b-c831e440baf6",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1680,
        600
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "53f2acb7-cec7-4a34-93b8-c55622b56d4b",
      "name": "Respond to Webhook1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1920,
        600
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "bc8ef0cf-a667-4c18-aa75-df49822d8ceb",
      "name": "Respond to Webhook2",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1920,
        780
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook3": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Respond to Webhook3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook2": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "58676edf-2acf-479b-a52a-99a1233d749d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a9c430e536aa24c7eb8f0410c2fe044aa8f5a118fc568dc2355dc29b55874f69"
  },
  "id": "Yn8jOtP48jzGY1uE",
  "tags": []
}