n8n-workflow/center/Center_Rescue_Flow.json
{
  "name": "Center Rescue Flow",
  "nodes": [
    {
      "parameters": {
        "collection": "reliefCenter",
        "options": {
          "limit": 10
        }
      },
      "id": "c6cca02e-3843-4607-b1fd-654c264e3cb1",
      "name": "MongoDB",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.1,
      "position": [
        1500,
        380
      ],
      "credentials": {
        "mongoDb": {
          "id": "BgiQjbwJlI2D2yvB",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9c3699fe-e4c4-4e0d-8309-8c447f5d33fe",
              "name": "name",
              "value": "={{ $json['Tên dịch vụ'] }}",
              "type": "string"
            },
            {
              "id": "bcc98eec-83af-48f0-b507-25c14eda7ad6",
              "name": "address",
              "value": "={{ $json['Địa chỉ'] }}",
              "type": "string"
            },
            {
              "id": "e198f224-a9d8-49f7-9af8-c8519c6cbd68",
              "name": "phoneNumber",
              "value": "={{ $json['Số điện thoại'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "88fc03f3-37ad-4768-b49b-7a649ac7cb19",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1840,
        380
      ]
    },
    {
      "parameters": {},
      "id": "5e7f4f50-4c8a-451f-8538-19bc2d0733d7",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        1160,
        380
      ]
    },
    {
      "parameters": {},
      "id": "2049b1be-4fb9-4bd9-b01e-c102390d2813",
      "name": "No Operation, do nothing",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2140,
        380
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "MongoDB": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "MongoDB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "4232a996-eb32-4695-8cdf-e7970ceb6163",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "167ac20ff2778f6847ddb68c79a5a882fdda1af053e54c234371a7629e6d48eb"
  },
  "id": "Xdhju8iHxkQYW8ta",
  "tags": []
}