n8n-workflow/main/RELIEF_MAIN_FLOW.json
{
  "name": "RELIEF MAIN FLOW",
  "nodes": [
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "ttsbko7HYox6v88o",
          "mode": "list",
          "cachedResultName": "GET LIST REGION HAVE DISASTER"
        },
        "options": {}
      },
      "id": "2d58c0da-3d5a-4033-97de-0aadf893e327",
      "name": "GET LIST REGION",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        1020,
        20
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "dDFFfgFkNdkCouVx",
          "mode": "list",
          "cachedResultName": "CHATBOT"
        },
        "options": {}
      },
      "id": "287b6f19-6be6-46b3-b8fc-5a80fd4d0805",
      "name": "CHATBOT",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        1020,
        260
      ]
    },
    {
      "parameters": {},
      "id": "e0827d2a-7c0a-4f0d-835c-abbb2cfcfbbe",
      "name": "No Operation, do nothing",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1340,
        20
      ]
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "id": "993146c5-b63f-412c-8318-283e4b553499",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1340,
        480
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "615527cc-6031-4506-8a60-721830ee3c80",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "73179db1-3324-4ec8-af3f-20fc05b2518a",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        340,
        260
      ],
      "webhookId": "615527cc-6031-4506-8a60-721830ee3c80"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "e5P73MNg0eBbxDJq",
          "mode": "list",
          "cachedResultName": "Disaster Map"
        },
        "options": {}
      },
      "id": "7409f16d-c978-4aed-9db9-fb59a96040a8",
      "name": "DISASTER MAP",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        1020,
        720
      ]
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "id": "b8a62b76-9d65-42dd-90dd-01c49d2a5211",
      "name": "Respond to Webhook1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1340,
        720
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Xdhju8iHxkQYW8ta",
          "mode": "list",
          "cachedResultName": "Center Rescue Flow"
        },
        "options": {}
      },
      "id": "e34f5772-5450-4677-a5b5-547057a13df5",
      "name": "CENTER",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        1020,
        480
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.page }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "444407ca-3880-42a0-acdd-396ecd4e10f8",
                    "leftValue": "={{ $json.body.page }}",
                    "rightValue": "vrelief-AI",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "16cad211-4ab0-4fb6-a5e4-44cb8f20a9f4",
                    "leftValue": "={{ $json.body.page }}",
                    "rightValue": "trung-tam-cuu-tro",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "fe729b80-e9d5-4fe1-a405-bf2aa8d2f2c2",
                    "leftValue": "={{ $json.body.page }}",
                    "rightValue": "/ban-do-thien-tai",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "28cf1f5e-a7c0-482d-9351-2537cde4d46d",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        560,
        260
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "GET LIST REGION": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DISASTER MAP": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CENTER": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "GET LIST REGION",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "CHATBOT",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "CENTER",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "DISASTER MAP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "7137531d-65a0-4046-9bbc-1e64da06b104",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "167ac20ff2778f6847ddb68c79a5a882fdda1af053e54c234371a7629e6d48eb"
  },
  "id": "HxvnPzBahHb0oHh3",
  "tags": []
}